/*----------------
GLOBAL
----------------*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-attachment: fixed;
  background-image: #16222a;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to bottom, #16222a, #3a6073);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to bottom, #16222a, #3a6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*color: #5e5b64;*/
  /*color: #d6d5dd;*/
  color: #f1f1f4;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}
